body {
	margin: 0 auto;
	padding: 10px;	/* TODO: change */
	background-color: #fafafa;
}

.panel-body * {
	margin: 5px;
}

#domains {
	float: left;
}

#optionName {
	margin-top: 30px;
}

#newDomain {
	margin-top: 30px;
}

.btn {
	border-radius: 0;
}

.panel-group .panel {
	border-radius: 0;
}